*{
  margin: 0;
  padding: 0;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100vw; /* Ensure it covers the entire viewport width */
  height: 100vh; /* Ensure it covers the entire viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust layout for better spacing */
  background-color: #0E0E0E; /* Keeps your background as it is */
  color: white; /* Ensures text visibility */
  overflow: hidden; /* Prevents horizontal scrolling */
}


.messages{
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
  padding-top: 30px;
}

.messages .userMsg{
  clear: both;
  background-color: #181818;
  padding: 15px;
  border-radius: 30px;
  max-width: 60vw;
  align-self: flex-end;
  min-width: 20vw;
}

.messages .responseMsg{
  clear: both;
  background-color: #181818;
  padding: 15px;
  border-radius: 30px;
  max-width: 60vw;
  align-self: flex-start;
  min-width: 20vw;
  margin-top: 15px;
}
